.root {
    -fx-font-family: "Segoe UI";
}

.button {
    -fx-background-radius: 8;
}

.table-view {
    -fx-border-radius: 8;
}

.edit-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.delete-button {
    -fx-background-color: #E53935;
    -fx-text-fill: white;
}